
.exh_badge_background {
    background-image:url('/techfuge_exhibitor_customisation/static/src/img/hive_badge_exhibitor.jpg');
    background-size:250mm 350mm;
    width:250mm;
    height:350mm;
    margin-left: -1rem;
    margin-bottom: -1rem;
}